.block {
	background: var(--elements-background);
	border-width: 1px;
	border-radius: 5px;
	padding: 10px;
	min-width: 50px;
	min-height: 40px;
	border-style: solid;
	font-size: 16px;
}

.default {
	border-color: black;
	color: black;
}
.attribute_name {
	color: green;
	font-size: 12px;
}

.display_linebreak {
	white-space: pre;
	text-align: left;
}
