.block {
	border: 1px solid #dddddd;
	border-radius: 3px;
	background: var(--elements-background);
	max-width: 500px;
	min-height: fit-content;
	white-space: pre-wrap;
	font-size: 14px;
}

.result,
.error {
	background-color: rgba(236, 236, 236, 0.8);
	font-size: 12px;
	text-align: left;
	padding: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.invisible {
	display: none;
}

.error {
	background-color: rgba(255, 220, 220, 0.8);
}

.name {
	background-color: #30a5be;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: relative;
	margin-left: 10px;
	max-width: fit-content;
	color: white;
	font-size: 12px;
	text-align: left;
	padding: 5px;
}

.contentWrapper {
	padding: 10px;
	text-align: left;
	font-family: monospace;
}

.inputFile {
	font-family: monospace;
}

.inputFile[type='checkbox'] {
	margin: 0;
	vertical-align: middle;
	margin-bottom: 2px;
	background-color: black;
}

.thickLine {
	line-height: 30px;
}

.selectBlock {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #dddddd;
	padding: 5px;
	border-radius: 3px;
	outline-color: #30a5be;
}
