.block {
	border: 1px solid #dddddd;
	border-radius: 3px;
	background: var(--elements-background);
	max-width: 500px;
	min-height: fit-content;
	white-space: pre-wrap;
	font-size: 14px;
}

.expression_block {
	/*border-color: grey;*/
}

.text_block {
	/*border-color: black;*/
}

.nameAndResult {
	background-color: #ececec;
	/*color: white;*/
	font-size: 12px;
	text-align: left;
	padding: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	/*font-family: monospace;*/
}

/*174D5982*/
/*174D5966*/

.name {
	background-color: #30a5be;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: relative;
	margin-left: 10px;
	max-width: fit-content;
	color: white;
	font-size: 12px;
	text-align: left;
	padding: 5px;
	/*font-family: monospace;*/
}

.contentWrapper {
	padding: 10px;
	/*margin-top: 10px;*/
	text-align: left;
	font-family: monospace;
}
