.flowControlWrapper {
	grid-column: 3/11;
	grid-row: 2/2;
	border: 1px solid #eaeaea;
	display: flex;
	align-items: flex-end;
}

.dndFlowTab,
.graphicsTab {
	width: 100px;
	height: 2.5vh;
	border: 1px solid #eaeaea;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dndFlowTab,
.graphicsTab label {
	font-size: 12px;
}
