.layout {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 8vh 5vh 5vh 82vh;
}

.leftTop {
	grid-column: 1 / 3;
	grid-row: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	margin-right: 5px;
}

.centerTop {
	grid-column: 3 / 11;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightTop {
	grid-column: 11 / 13;
	grid-row: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.panelHidden {
	visibility: hidden;
}

#elementsPanel {
	grid-column: 1/3;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin-top: 10px;
}

.flowcanvas {
	grid-column: 3 / 11;
	justify-content: center;
	text-align: center;
	grid-row: 2/5;
	border: 1px solid #eaeaea;
	width: 100%;
	height: 100%;
	font-size: 5px;
	display: flex;
}

#propsPanel {
	grid-column: 11/13;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

#libPanel {
	grid-column: 11/13;
	grid-row: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.iconStyle {
	display: block;
	position: relative;
	height: 30px;
	width: 30px;
	padding: 5px;
}

.iconStyle:hover {
	border: 1px solid #30a5be;
	background-color: #eaeaea;
}

.inputFileName {
	border-radius: 3px;
	border: 1px solid gray;
	padding: 2px;
	padding-left: 10px;
	height: 20px;
}

.inputFileName:focus {
	outline-color: #30a5be;
}

.dropFileName {
	border: 1px solid gray;
	border-radius: 3px;
	padding: 2px;
	padding-left: 10px;
}

.dropFileName:focus {
	outline-color: #30a5be;
}

.dropFileName:active {
	border-color: #1b6d85;
	/*outline-color: #30a5be;*/
	/*width: 100px;*/
}
