#math_input {
	position: absolute;
	width: 80%;
	margin-left: 10%;
	background: var(--elements-background);
	border: 1px solid #eee;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	transition: 1s;
}

#math_input textarea {
	margin: 20px;
	width: 75%;
}
