#settings {
	position: absolute;
	right: 0;
	background: var(--elements-background);
	border-left: 1px solid #eee;
	font-size: 12px;
	padding: 15px 10px;
	display: block;
	max-width: 300px;
	min-width: 100px;
	width: 20%;
	height: 80vh;
	text-align: center;
	transition: 1s;
}
