/*===== sidebar ======*/

#block_menu {
	position: absolute;
	right: 0;
	background: var(--elements-background);
	border-left: 1px solid #eee;
	font-size: 12px;
	padding: 15px 10px;
	display: block;
	max-width: 300px;
	min-width: 100px;
	height: 80vh;
	text-align: center;
	transition: 1s;
}

.display_linebreak {
	white-space: pre;
	text-align: left;
}

.dndnode {
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	cursor: grab;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 10px 5px;
	font-size: 15px;
}

.dndnode.default {
	border-color: #1a192b;
	color: #1a192b;
}

.dndnode.function {
	border-color: #0041d0;
	justify-content: left;
	color: #0041d0;
}

.dndnode.set {
	border-color: #0041d0;
	color: #0041d0;
}

.dndnode.graph {
	border-color: #ff0072;
	color: #ff0072;
}
